<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DiskMapper">
    <insert id="saveFolder">
        insert into t_disk (source_name,fid,create_user,type)
        values (#{sourceName},#{fid},#{createUser},#{type});
    </insert>
    <insert id="saveFile">
        INSERT INTO t_disk (name, source_name, fid, size, create_user, type)
        VALUES (#{name},#{sourceName},#{fid},#{size},#{createUser},#{type})
    </insert>
    <delete id="delFileById">
        DELETE FROM t_disk where id = #{id}
    </delete>
    <delete id="batchDel">
        DELETE FROM t_disk where id IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

    <select id="findByFid" resultType="com.kaishengit.pojo.Disk">
        SELECT * FROM t_disk where fid = #{fid}
    </select>
    <select id="findById" resultType="java.io.InputStream">
         SELECT * FROM t_disk where id = #{id}
    </select>
    <select id="findDiskById" resultType="com.kaishengit.pojo.Disk">
         SELECT * FROM t_disk where id = #{id}
    </select>
    <select id="findAll" resultType="com.kaishengit.pojo.Disk">
        SELECT * FROM t_disk
    </select>

</mapper>