<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DiskMapper">
    <insert id="saveFolder">
        insert into t_disk (source_name,fid,create_user,type)
        values (#{sourceName},#{fid},#{createUser},#{type});
    </insert>

    <select id="findByFid" resultType="com.kaishengit.pojo.Disk">
        SELECT * FROM t_disk where fid = #{fid}
    </select>
</mapper>