<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.FinanceMapper">
    <insert id="saveDeviceRentFinance">
        INSERT INTO t_finance (finance_serial,serial_num, type, money, state, module, create_date, create_user, remark)
        VALUES (#{financeSerial},#{serialNum},#{type},#{money},#{state},#{module},#{createDate},#{createUser},#{remark})
    </insert>
    <update id="updateState">
         update t_finance set state = #{state},confirm_user=#{confirmUser},confirm_date=#{confirmDate} where id = #{id}
    </update>

    <select id="findAll" resultType="com.kaishengit.pojo.Finance">
        SELECT * FROM t_finance
    </select>
    <select id="findByRentSerial" resultType="com.kaishengit.pojo.Finance">
        SELECT * FROM t_finance where serial_num = #{serialNum}
    </select>
    <select id="findDay" resultType="com.kaishengit.pojo.Finance">

    </select>
    <select id="findFinanceByParam" resultType="com.kaishengit.pojo.Finance">
        SELECT * FROM t_finance where create_date = #{date}
        ORDER BY state DESC ,create_date DESC
        limit ${start},${length}
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_finance
    </select>
    <select id="filterCount" resultType="java.lang.Long">
        SELECT count(*) FROM t_finance where create_date = #{date}
    </select>
    <select id="findById" resultType="com.kaishengit.pojo.Finance">
        SELECT * FROM t_finance where id = #{id}
    </select>
    <select id="getDayData" resultType="java.util.Map">
        select tf.module as 'name',sum(tf.money) as 'value'
        from t_finance as tf
        where tf.confirm_user is not null and tf.confirm_date = #{today} and tf.type = #{type}
        GROUP BY tf.module;
    </select>
</mapper>