<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.StudentMapper">
    <cache/>

    <insert id="save"></insert>

    <select id="findById" resultType="com.kaishengit.pojo.Student" >
        SELECT
          student.id,name,address,schoolid,
          school.id AS 'school.id',college AS 'school.college',phone AS 'school.phone'
        FROM
          student
        INNER JOIN school ON student.schoolid = school.id
        where
          student.id = #{id}
    </select>

    <select id="findByParam" resultType="com.kaishengit.pojo.Student">
        SELECT * from student where name = #{name}
        <if test="address != null and address !=''">
            and address = #{address}
        </if>
    </select>


</mapper>