<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.StudentMapper">
    <cache/>

    <insert id="save"></insert>
    <insert id="batchSave">
        INSERT INTO student (name,address) VALUES
        <foreach collection="list" item="student" separator=",">
            (#{student.name},#{student.address})
        </foreach>
    </insert>
    <update id="update">
        UPDATE student
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="address != null">address=#{address}</if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" resultType="com.kaishengit.pojo.Student" >
        SELECT
          student.id,name,address,schoolid,
          school.id AS 'school.id',college AS 'school.college',phone AS 'school.phone'
        FROM
          student
        INNER JOIN school ON student.schoolid = school.id
        where
          student.id = #{id}
    </select>

    <select id="findByParam" resultType="com.kaishengit.pojo.Student">
        SELECT * from student
        <!--<choose>
            <when test="address != null and address !=''">
                and address = #{address}
            </when>
        </choose>-->
        <trim prefix="where" prefixOverrides="and">
            <if test="name != null and name != ''">
                name = #{name}
            </if>
            <choose>
                <when test="address != null and address != ''">
                    and address = #{address}
                </when>
            </choose>
        </trim>
    </select>
    <select id="findByIds" resultType="com.kaishengit.pojo.Student">
        select * from student where id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>


</mapper>