<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.UserMapper">
    <select id="findUserById" parameterType="int" resultType="User">
        SELECT  * from user where id = #{id}
    </select>

    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username,password) VALUES (#{username},#{password})
    </insert>

    <select id="findAll" resultType="User">
        SELECT * FROM user
    </select>

</mapper>