<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.kaishengit"/>
    <!--<aop:aspectj-autoproxy/>-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///mydb"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.kaishengit.pojo"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.kaishengit.mapper"/>
    </bean>




    <!--<bean id="myAspect" class="com.kaishengit.aop.MyAspect"/>
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="pt" expression="execution(* com.kaishengit.service..*.*(..))"/>
            <aop:before method="beforeAdvice" pointcut-ref="pt"/>
            <aop:after-returning method="afterAdvice" pointcut-ref="pt" returning="result"/>
            <aop:after-throwing method="exceptionAdvice" pointcut-ref="pt" throwing="ex"/>
            <aop:after method="finalAdvice" pointcut-ref="pt"/>
            &lt;!&ndash;<aop:around method="aroundAdvice" pointcut-ref="pt"/>&ndash;&gt;
        </aop:aspect>
    </aop:config>-->

    <!--
    <bean id="userDao" class="com.kaishengit.dao.Impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.kaishengit.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    -->
</beans>