<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userDao" class="com.kaishengit.dao.Impl.UserDaoImpl"></bean>
    <bean id="userService" class="com.kaishengit.service.Impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="myAspect" class="com.kaishengit.aop.MyAspect"/>
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="pt" expression="execution(* com.kaishengit.service..*.*(..))"/>
            <aop:before method="beforeAdvice" pointcut-ref="pt"/>
            <aop:after-returning method="afterAdvice" pointcut-ref="pt" returning="result"/>
            <aop:after-throwing method="exceptionAdvice" pointcut-ref="pt" throwing="ex"/>
            <aop:after method="finalAdvice" pointcut-ref="pt"/>
            <aop:around method="aroundAdvice" pointcut-ref="pt"/>
        </aop:aspect>
    </aop:config>
    
</beans>